HELP.md
target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/main/resources/static/
src/main/resources/application.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr